# Makefile
Makefile


# Hidden files
.?*
!.github

# g files
g_[0-9]*

# smalljac build tree fetched by test/highdeg/install_smalljac.sh (CI / local lpdata)
test/highdeg/smalljac/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Autotools
autom4te.cache/
aclocal.m4
config.log
config.status
configure~

# smalljac/lpdata build (created by test/highdeg/install_smalljac.sh in the high-degree CI workflow)
/test/highdeg/smalljac/
